body {
    font-family:"Arial", "Meiryo", sans-serif;
}
html {
    font-size: 20px;
    text-align: center;
}
#basic {
    text-align: center;
}
#basic p {
    font-weight: bold;
}
.blue {
    color: skyblue;
}
.pink {
    color: rgb(255, 192, 203) ;
}
h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    letter-spacing: 1.2em;
}
h1{
    text-shadow: 1px 1px 2px black;
    border-bottom: solid 3px rgb(115, 115, 114);
}